@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';

$light: #FFF;
$dark: #000;
$grey_light: #ccc;
$grey_mid: #666;

@mixin pseudo-border {
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;

		@media (min-width: 600px) {
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
		}

		background-color: rgba($grey_light, 0.5);
	}
}
html {
	-webkit-text-size-adjust: none;
}

body {
	background-color: $grey_light;
	font-family: 'Open Sans', sans-serif;
	* {
		box-sizing: border-box;
	}
	padding: 0;
	margin: 0;
	min-width: 320px;

}

.vehicle-list {
	display: flex;
	flex-flow: row wrap;

	width: 100%;
	margin: 0 auto;

	&-item {
		cursor: pointer;
		display: flex;
		flex-flow: row nowrap;
		position: relative;

		@include pseudo-border;
		background-color: $light;
		flex: 0 0 auto;
		width: 100%;



		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			background-color: rgba($dark, 0.1);
			transition: 0.3s opacity;
			opacity: 0;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
		}

		@media (min-width: 600px) {
			flex-flow: column nowrap;
		}

		@media (min-width: 600px) {
			width: 50%;
		}
		@media (min-width: 1024px) {
			width: 25%;
		}

		&__image {
			flex: 0 0 auto;
			width: 100px;
			.image {
				width: 100%;
				height: 0;
				padding-bottom: 100%;
			}

			@media (min-width: 600px) {
				width: 100%;
				.image {
					padding-bottom: 55%;
				}
			}

			background-size: cover;
			background-position: center center;
		}

		&__text {
			width: calc(100% - 100px);
			flex: 0 0  auto;
			padding: 10px 10px;
			font-size: 12px;

			@media (min-width: 600px) {
				width: 100%;
				text-align: center;
				font-size: 12px;
				padding: 20px;
			}

			@media (min-width: 1280px) {
				padding: 30px;
				font-size: 14px;
			}


			.name {
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0.3em;

				@media (min-width: 600px) {
					padding: 3px;
					border-top: 1px solid $dark;
					border-bottom: 1px solid $dark;
					margin-bottom: 1em;
				}
				display: inline-block;
				font-size: 1.4em;
			}

			.price {
				color: $grey_mid;
				margin-bottom: 1em;
			}

			.description {
				color: $grey_mid;
			}
		}
	}
}